<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <style>
    center  {
       padding-top:23%;
    }


    </style>
</head>
<body>
<center>

    {% if user.is_authenticated %}
       <h1>Hello, {{user.first_name}}</h1>
   <a href ="logout"><button>logout</button></a></center>
   {% else %}
   <a href="register"><input type="submit" value="Register"></a><br><br>
   <a href="login_user"><input type="button" value="Emp login"></a><br><br>
   <a href="login_staff"><input type="button" value="Staff login"></a><br><br>
    {% endif %}
</center>
</body>
</html>